# node
node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VCS
.git
.gitignore

# OS
.DS_Store

# build artifacts
.next
out
dist
build
coverage

# misc
.env
.env.*
*.local
